 body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(252, 228, 190);
 
 }

 .app {
  margin-top: 1em;
  font-size: 2em;
  font-style: bold;
 }

 .app-logic {
  margin-top: 1em;
}

.todo-form {
  margin-top: 1em;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-error {
  color: red;
  font-size: 1em;
}

.todo-list {
  margin-top: 1em;
}

.todo-item {
  margin-top: 1em;
}

.completed {
  color: green;
  font-weight: bold;
}


.uncompleted {
  color: rgb(251, 61, 61);
  font-weight: bold;
}
 
